<div{{ attributes }}>
    <div class="chat-header">
        <div class="msg-search">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search" aria-label="search" data-model="query">
            <a class="add" href="{{ path('index') }}"><img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/add.svg" alt="add"></a>
        </div>
    </div>

    <div class="modal-body">
        <!-- chat-list -->
        <div class="chat-lists">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="Open" role="tabpanel" aria-labelledby="Open-tab">
                    <div class="chat-list">
                        {% for conversation in this.conversations %}
                            <a href="{{ path('conversation', { id: conversation.id }) }}" class="d-flex align-items-center" data-loading="addClass(opacity-50)">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/0/04/ChatGPT_logo.svg" width="45" height="45" alt="user img">
                                    <!--<span class="active"></span>-->
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h3>{{ conversation.title }}</h3>
                                    <p>{{ conversation.createdAt|format_datetime }}</p>
                                </div>
                            </a>
                        {% else %}
                            <span class="d-flex align-items-center">No conversations yet.</span>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
